@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNova-Regular.eot');
    src: url('ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),url('ProximaNova-Regular.woff2') format('woff2'),url('ProximaNova-Regular.woff') format('woff'),url('ProximaNova-Regular.ttf') format('truetype'),url('ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNova-Light.eot');
    src: url('ProximaNova-Light.eot?#iefix') format('embedded-opentype'),url('ProximaNova-Light.woff2') format('woff2'),url('ProximaNova-Light.woff') format('woff'),url('ProximaNova-Light.ttf') format('truetype'),url('ProximaNova-Light.svg#ProximaNova-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Orpheus Pro';
    src: url('OrpheusPro.eot');
    src: local('Orpheus Pro'),local('OrpheusPro'),url('OrpheusPro.eot?#iefix') format('embedded-opentype'),url('OrpheusPro.woff2') format('woff2'),url('OrpheusPro.woff') format('woff'),url('OrpheusPro.ttf') format('truetype'),url('OrpheusPro.svg#OrpheusPro') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Orpheus Pro';
    src: url('OrpheusPro-Italic.eot');
    src: local('Orpheus Pro Italic'),local('OrpheusPro-Italic'),url('OrpheusPro-Italic.eot?#iefix') format('embedded-opentype'),url('OrpheusPro-Italic.woff2') format('woff2'),url('OrpheusPro-Italic.woff') format('woff'),url('OrpheusPro-Italic.ttf') format('truetype'),url('OrpheusPro-Italic.svg#OrpheusPro-Italic') format('svg');
    font-weight: 400;
    font-style: italic;
    font-display: swap
}
